apiVersion: v1
kind: ConfigMap
metadata:
  name: cloudflared
  namespace: cloudflare
data:
  config.yaml: |
    tunnel: homelab
    credentials-file: /etc/cloudflared/creds/credentials.json
    metrics: 0.0.0.0:2000
    no-autoupdate: true
    ingress:
    - hostname: n8n.husamalsheikh.com
      service: http://n8n.n8n.svc.cluster.local:5678
      originRequest:
        noTLSVerify: false
        connectTimeout: 30s
        httpHostHeader: n8n.husamalsheikh.com
        originServerName: n8n.husamalsheikh.com
    - hostname: planka.husamalsheikh.com
      service: http://planka.planka.svc.cluster.local:1337
      originRequest:
        noTLSVerify: false
        connectTimeout: 30s
        httpHostHeader: planka.husamalsheikh.com
        originServerName: planka.husamalsheikh.com
    - hostname: grafana.husamalsheikh.com
      service: http://grafana-prometheus.telemetry.svc.cluster.local:80
      originRequest:
        noTLSVerify: false
        connectTimeout: 30s
        httpHostHeader: grafana.husamalsheikh.com
        originServerName: grafana.husamalsheikh.com
    - hostname: feed.husamalsheikh.com
      service: http://commafeed.commafeed.svc.cluster.local:80
      originRequest:
        noTLSVerify: false
        connectTimeout: 30s
        httpHostHeader: feed.husamalsheikh.com
        originServerName: feed.husamalsheikh.com
    - hostname: next.husamalsheikh.com
      service: http://nextcloud.nextcloud.svc.cluster.local:80
      originRequest:
        noTLSVerify: false
        connectTimeout: 30s
        httpHostHeader: next.husamalsheikh.com
        originServerName: next.husamalsheikh.com
    - hostname: home.husamalsheikh.com
      service: http://homepage.homepage:3000
      originRequest:
        noTLSVerify: false
        connectTimeout: 30s
        httpHostHeader: home.husamalsheikh.com
        originServerName: home.husamalsheikh.com
      disableChunkedEncoding: true
    - hostname: husamalsheikh.com
      service: http://portfolio.portfolio:80
      originRequest:
        noTLSVerify: false
        connectTimeout: 30s
        httpHostHeader: husamalsheikh.com
        originServerName: husamalsheikh.com
      disableChunkedEncoding: true
    - service: http_status:404
