apiVersion: apps/v1
kind: Deployment
metadata:
  name: portfolio
  namespace: portfolio

spec:
  revisionHistoryLimit: 1
  replicas: 1
  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app: portfolio
  template:
    metadata:
      labels:
        app: portfolio
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "3000" #Add same port as container port
    spec:
      containers:
      - name: portfolio
        image: ghcr.io/alsheikhhusam/portfolio:latest
        imagePullPolicy: Always
        command: ["npx"]
        args: ["next", "start", "-H", "0.0.0.0", "-p", "3000"]
        envFrom:
            - secretRef:
                name: portfolio-smtp-creds
        resources:
          requests:
            cpu: "500m"
            memory: "512Mi"
          limits:
            cpu: "1"
            memory: "1Gi"
        ports:
          - containerPort: 3000
      imagePullSecrets:
        - name: ghcr-secret
