apiVersion: apps/v1
kind: Deployment
metadata:
  name: commafeed
  namespace: commafeed

spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: commafeed
  template:
    metadata:
      labels:
        app: commafeed
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8082"
    spec:
      containers:
      - name: commafeed
        image: athou/commafeed:master-postgresql
        resources:
          requests:
            cpu: 250m
            memory: 256Mi
          limits:
            cpu: 500m
            memory: 512Mi
        ports:
        - containerPort: 8082
        envFrom:
        - secretRef:
            name: commafeed-secret
        volumeMounts:
        - name: commafeed
          mountPath: /mnt/data/commafeed
        - name: config
          mountPath: /commafeed/config
          readOnly: true
      volumes:
      - name: commafeed
        persistentVolumeClaim:
          claimName: commafeed-pvc
      - name: config
        configMap:
          name: commafeed
