apiVersion: apps/v1
kind: Deployment
metadata:
  name: commafeed
  namespace: commafeed

spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: commafeed
  template:
    metadata:
      labels:
        app: commafeed
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8082"
    spec:
      containers:
      - name: commafeed
        image: athou/commafeed:master-postgresql
        env:
          - name: COMMAFEED_UNREADSTATUSMAXAGEDAYS
            value: "7"
          - name: COMMAFEED_MAXENTRIESAGEDAYS
            value: "3"
          - name: COMMAFEED_FEED_MAXCAPACITY
            value: "200"
        resources:
          requests:
            cpu: 250m
            memory: 256Mi
          limits:
            cpu: 500m
            memory: 512Mi
        ports:
        - containerPort: 8082
        envFrom:
        - secretRef:
            name: commafeed-secret
        volumeMounts:
        - name: commafeed
          mountPath: /mnt/data/commafeed
      volumes:
      - name: commafeed
        persistentVolumeClaim:
          claimName: commafeed-pvc
